<div class="container">
    <h2>FeedBack</h2>
    <form action="/process-contact" method="post">
        <label for="fullName">Họ và Tên:</label>
        <input type="text" id="fullName" name="fullName" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="comment">Comment:</label>
        <input type="comment" id="comment" name="comment" required>

        <label>Simulator error::</label>
        <input name="simulateError" type="checkbox" />

        <label>Use Ajax?::</label>
        <input name="useAjax" type="checkbox" />
        <button type="submit">Submit</button>
    </form>
</div>