<div class="thank-you">
    <p>Thank you for giving us your feedback</p>
    <p>If there is anything you are not satisfied with, we are extremely sorry and we will fix it as soon as possible
    </p>

    <p>Feel free to <a href="/">Try again</a>!</p>
</div>