<!DOCTYPE html>
<html lang="en">

<head>
    <title>Web development with Node and Express Examples</title>
    <style>
        body {
            background-color: black;
            color: white;
        }
    </style>
</head>

<body>
    <h1>Web development with Node and Express Examples</h1>
    <hr />
    {{{body}}}
</body>

</html>